
.img1{
    height: 550px !important;
}

#nav{
    background-color:rgb(252, 141, 159)  !important;
}

body{
    background-color: rgb(236, 206, 211) !important;
}

.img2{

    width: 50% !important;
}


